@import '~bulma/sass/utilities/initial-variables';

$loading-icon-color: #2687e9;
$loading-background-color: rgba(0,0,0,0.4);
$loading-icon-size: 20px;
$transition-time: 0.5s;
$blue: #2687e9; // Conta Azul blue color
$logo-header-width: 140px;
$sidemenu-animation-duration: 0.2s;
$sidemenu-animation-delay: 0s;
$hamburger-menu-color: $grey !important;
